{% extends "home/home.html.twig" %}
{% block title %}Creation
{% endblock %}
{% block body %}
	<div class="container">
		<div class="slides">
			<div id="slide-1" class="slide courant mt-5 bt-5" >
				<div class="petale item-0 impair" style="height:230px">
					<div class="image">
						<img style="height:230px;width:180px" src="./web/wp-content/uploads/2015/09/questions_200x199_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">L'essentiel</h2>
						<ul>
							<li><a href="http://www.union-auto-entrepreneurs.com/guide-auto-entrepreneur/activites-inscription/pour-qui-auto-entrepreneur/"><i class="fa fa-angle-right"></i><span>Selon votre situation</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/guide-auto-entrepreneur/activites-inscription/activite-seuil-auto-entrepeneur/"><i class="fa fa-angle-right"></i><span>Choisir votre activité</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/guide-auto-entrepreneur/activites-inscription/sinscrire-auto-entrepreneur/"><i class="fa fa-angle-right"></i><span>Comment s'inscrire ?</span></a></li>
							<li><a href=""><i class="fa fa-angle-right"></i><span>Le business plan</span></a></li>
							<li><a href=""><i class="fa fa-angle-right"></i><span>Le financement</span></a></li>
							<li><a href=""><i class="fa fa-angle-right"></i><span>Le choix du statut Juridique</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-1 pair" style="height:230px">
					<div class="image">
						<img style="height:230px;width:200px" src="./web/wp-content/uploads/2015/09/dossiers_200x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Cotisations</h2>
						<ul>
							<li><a href="http://www.union-auto-entrepreneurs.com/guide-auto-entrepreneur/regime-social/cotisations-sociales-auto-entrepreneurs/"><i class="fa fa-angle-right"></i><span>Cotisations sociales</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/guide-auto-entrepreneur/regime-fiscal/imposition-ir/"><i class="fa fa-angle-right"></i><span>Cotisations fiscales</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/guide-auto-entrepreneur/cotisations-specifiques/activite-commerciale-artisanale-taxe-cci-cma/"><i class="fa fa-angle-right"></i><span>Cotisations spécifiques</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-2 impair" style="height:230px">
					<div class="image">
						<img style="height:230px;width:200px" src="./web/wp-content/uploads/2015/09/longue-vue_200x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Bien gérer</h2>
						<ul>
							<li><a href="http://www.union-auto-entrepreneurs.com/gerer-recommandation-uae-auto-entrepreneur/"><i class="fa fa-angle-right"></i><span>Pourquoi bien gérer?</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-3 pair" style="height:230px">
					<div class="image">
						<img style="height:230px;width:200px" src="./web/wp-content/uploads/2015/09/proteger_200x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Se protéger</h2>
						<ul>
							<li><a href="http://www.union-auto-entrepreneurs.com/se-proteger-une-recommandation-de-luae/"><i class="fa fa-angle-right"></i><span>Pourquoi se protéger</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/actualites/assurance-maladie-ram/"><i class="fa fa-angle-right"></i><span>Protéger sa santé</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/actualites/assurance-responsabilite-civile-specifique/"><i class="fa fa-angle-right"></i><span>Protéger son activité</span></a></li>
							<li><a href=""><i class="fa fa-angle-right"></i><span>Asssurances</span></a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>

	</div>
{% endblock %}
