{% extends "home/home.html.twig" %}
{% block title %}Développement
{% endblock %}
{% block body %}
	<div class="container">
		<div class="slides">
			<div id="slide-3" class="slide courant mt-5 bt-5">
				<div class="petale item-0 impair" style="height:230px ! important;" >
					<div class="image">
						<img  style="height:230px;width:190px" src="./web/wp-content/uploads/2015/09/1quiquoicomment_200x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">S'informer</h2>
						<ul>
							<li><a href=""><i class="fa fa-angle-right"></i><span >Ressource documentaire</span></a></li>
							<li><a href="{{path('guide8')}}"><i class="fa fa-angle-right"></i><span >Avantages et obligations</span></a></li>
							<li><a href=""><i class="fa fa-angle-right"></i><span >Démarches</span></a></li>
							<li><a href=""><i class="fa fa-angle-right"></i><span >Gestion quotidienne de l'activité</span></a></li>
							<li><a href=""><i class="fa fa-angle-right"></i><span >Gestion de la trésorerie</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-1 pair" style="height:230px ! important;">
					<div class="image">
						<img  style="height:230px;width:200px" src="./web/wp-content/uploads/2015/09/1Fotolia_46103444_XSbarometre_200x200_acf_cropped.jpg" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Anticiper</h2>
						<ul>
							<li><a href="{{path('guide9')}}"><i class="fa fa-angle-right"></i><span>Ma fiscalité</span></a></li>
							<li><a href="{{path('guide10')}}"><i class="fa fa-angle-right"></i><span>Développement à l'international</span></a></li>
							<li><a href=""><i class="fa fa-angle-right"></i><span>Programmes d'aide </span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-2 impair" style="height:230px ! important;">
					<div class="image">
						<img style="height:230px;width:200px" src="./web/wp-content/uploads/2015/09/franchiser_200x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Franchiser</h2>
						<ul>
							<li><a href=""><i class="fa fa-angle-right"></i><span>Vos suggestions?</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-3 pair" style="height:230px ! important;">
					<div class="image">
						<img  style="height:230px;width:200px" src="./web/wp-content/uploads/2015/09/1associer_200x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">S'associer</h2>
						<ul>
							<li><a href=""><i class="fa fa-angle-right"></i><span>Vos expériences et idées?</span></a></li>
							<li><a href="{{path('guide11')}}"><i class="fa fa-angle-right"></i><span>Démarches administratives </span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
