{% extends "home/home.html.twig" %}
{% block title %}Gestion
{% endblock %}
{% block body %}
	<div class="container">
		<div class="slides">
			<div id="slide-2" class="slide courant mt-5 bt-5" style=" position: absolute;right: 100px;">
				<div class="petale item-0 impair">
					<div class="image">
						<img src="./web/wp-content/uploads/2015/09/puzzle_200x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">L'indispensable</h2>
						<ul>
							<li><a href="http://www.union-auto-entrepreneurs.com/guide-auto-entrepreneur/presentation/memo-regime-auto-entrepreneur/"><i class="fa fa-angle-right"></i><span>Mémo du régime</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/guide-auto-entrepreneur/regime-social/memo-regime-social/"><i class="fa fa-angle-right"></i><span>Mémo social</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/guide-auto-entrepreneur/regime-fiscal/memo-regime-fiscal/"><i class="fa fa-angle-right"></i><span>Mémo fiscal</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-1 pair">
					<div class="image">
						<img src="./web/wp-content/uploads/2015/09/1Fotolia_62554979_XSrideau_200x200_acf_cropped1.jpg" alt="">
					</div>
					<div class="info">
						<h2 class="titre">S'afficher</h2>
						<ul>
							<li><a href="http://www.union-auto-entrepreneurs.com/construire-sa-visibilite-sur-le-web/"><i class="fa fa-angle-right"></i><span>Présenter son activité</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/partenaire/webself/"><i class="fa fa-angle-right"></i><span>Créez votre 1er site web !</span></a></li>
							<li><a href="actualites/des-clients-dans-mon-magasin/index.htm"><i class="fa fa-angle-right"></i><span>Trouver vos clients  !</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/communiquer-trouver-vos-clients/"><i class="fa fa-angle-right"></i><span>Comment communiquer?</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-2 impair">
					<div class="image">
						<img src="./web/wp-content/uploads/2015/09/organiser_200x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">S'organiser</h2>
						<ul>
							<li><a href="http://www.union-auto-entrepreneurs.com/gerer-recommandation-uae-auto-entrepreneur/"><i class="fa fa-angle-right"></i><span>Comment bien gérer</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/?post_type=actualite&p=696"><i class="fa fa-angle-right"></i><span>Suivre un tableau de bord</span></a></li>
							<li><a href="guide-auto-entrepreneur/declarer-et-payer/memo-declarer-payer/index.htm"><i class="fa fa-angle-right"></i><span>Déclarer et payer</span></a></li>
							<li><a href="actualites/reponses-expert-banque-cic-uae/index.htm"><i class="fa fa-angle-right"></i><span>Gérer ses flux bancaires</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-3 pair">
					<div class="image">
						<img src="./web/wp-content/uploads/2015/09/Parapluie-echecs_199x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">S'assurer</h2>
						<ul>
							<li><a href=""><i class="fa fa-angle-right"></i><span>J'assure mon entreprise</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/se-proteger-une-recommandation-de-luae/"><i class="fa fa-angle-right"></i><span>Comment se protéger?</span></a></li>
							<li><a href="partenaire/ram-protection-sociale/index.htm"><i class="fa fa-angle-right"></i><span>Ma protection sociale</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/actualites/assurance-responsabilite-civile-specifique/"><i class="fa fa-angle-right"></i><span>Mon asssurance pro</span></a></li>
							<li><a href="actualites/garantie-protection-juridique/index.htm"><i class="fa fa-angle-right"></i><span>Protection juridique</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
