{% extends "home/home.html.twig" %}
{% block title %}Information
{% endblock %}
{% block body %}
	<div class="container" >
		<div class="slides">
			<div id="slide-0" class="slide courant mt-5 bt-5" style=" position: absolute;
					  right: 100px;">
				<div class=" petale item-0 impair">
					<div class="image">
						<img src="./web/wp-content/uploads/2020/01/livre-guide-UAE-5.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">S'informer</h2>
						<ul>
							<li><a href="http://www.union-auto-entrepreneurs.com/pourquoi-devenir-membre-uae/"><i class="fa fa-angle-right"></i><span>Posez vos questions</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/actualites/auto-entrepreneurs-lancez-vous/"><i class="fa fa-angle-right"></i><span>Le livre pour vous guider !</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/pourquoi-devenir-membre-uae/"><i class="fa fa-angle-right"></i><span>Allo Expert UAE ?</span></a></li>
							<li><a href="https://www.autoentrepreneur.urssaf.fr/portail/accueil/sinformer-sur-le-statut/lessentiel-du-statut.html"><i class="fa fa-angle-right"></i><span> L'essentiel du statut</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-1 pair">
					<div class="image">
						<img src="./web/wp-content/uploads/2019/09/organiser_200x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Formation</h2>
						<ul>
							<li><a href="http://www.union-auto-entrepreneurs.com/formation/"><i class="fa fa-angle-right"></i><span>Formez-vous ici !</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/actualites/logo-kang-entreprise-auto-entrepreneur/"><i class="fa fa-angle-right"></i><span>Trouvez votre logo</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/communiquer-trouver-vos-clients/"><i class="fa fa-angle-right"></i><span>Ciblez vos clients</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-2 impair">
					<div class="image">
						<img src="./web/wp-content/uploads/2020/05/puzzle_200x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Conseils</h2>
						<ul>
							<li><a href="http://www.union-auto-entrepreneurs.com/offres-et-conseils-partenaires/"><i class="fa fa-angle-right"></i><span>Par quoi commencer ?</span></a></li>
							<li><a href="http://www.union-auto-entrepreneurs.com/pourquoi-devenir-membre-uae/"><i class="fa fa-angle-right"></i><span>Adhérez a  l'UAE !</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-3 pair">
					<div class="image">
						<img src="./web/wp-content/uploads/2020/01/PrixAudace-UAE_200x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Rencontres</h2>
						<ul>
							<li><a href="http://www.union-auto-entrepreneurs.com/agenda/"><i class="fa fa-angle-right"></i><span>Agenda et salons</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
