{% extends "home/home.html.twig" %}
{% block title %}Information
{% endblock %}
{% block body %}
	<div class="container" >
		<div class="slides">
			<div id="slide-0" class="slide courant mt-5 bt-5">
				<div class=" petale item-0 impair">
					<div class="image">
						<img src="./web/wp-content/uploads/2020/01/livre-guide-UAE-5.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">S'informer</h2>
						<ul>
							<li><a href="{{path('guide1')}}"><i class="fa fa-angle-right" ></i><span>Qui est l’Auto-entrepreneur?</span></a></li>
							<li><a href=""><i class="fa fa-angle-right"></i><span> Guide d’auto entrepreneur (pdf)</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-1 pair">
					<div class="image">
						<img src="./web/wp-content/uploads/2019/09/organiser_200x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Formation</h2>
						<ul>
							<li><a href=""><i class="fa fa-angle-right"></i><span>Formez-vous ici !</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-2 impair">
					<div class="image">
						<img src="./web/wp-content/uploads/2020/05/puzzle_200x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Conseils</h2>
						<ul>
							<li><a href="{{path('guide2')}}"><i class="fa fa-angle-right"></i><span>Pour se lancer</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-3 pair">
					<div class="image">
						<img src="./web/wp-content/uploads/2020/01/PrixAudace-UAE_200x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Rencontres</h2>
						<ul>
							<li><a href=""><i class="fa fa-angle-right"></i><span>Agenda et salons Coworking espace</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
