{% extends "home/home.html.twig" %}
{% block title %}Outils
{% endblock %}
{% block body %}
	<div class="container">
		<div class="slides">
			<div id="slide-2" class="slide courant mt-5 bt-5">
				<div class="petale item-0 impair">
					<div class="image">
						<img style="height:200px;width:200px" src="./web/m4.jpg" alt="">
					</div>
					<div class="info">
						<h2 class="titre">
							Logiciel  de facturation
						</h2>
						<ul>
							<li><a href="{{path('facture')}}"><i class="fa fa-angle-right"></i><span>Créer une facturation</span></a></li>
							<li><a href="{{path('dossier')}}"><i class="fa fa-angle-right"></i><span>accédez vos factures</span></a></li>

						</ul>
					</div>
				</div>
				<div class="petale item-1 pair">
					<div class="image">
						<img style="height:200;width:200" src="./web/m5.jpg" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Ressources humaines
						</h2>
						<ul>
							<li><a href=""><i class="fa fa-angle-right"></i><span>Le service ressources humaines</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-2 impair">
					<div class="image">
						<img style="height:200;width:200" src="./web/m7.jpg" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Calcul de chiffres</h2>
						<ul>
							<li><a href=""><i class="fa fa-angle-right"></i><span>Calculez votre chiffre</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-3 pair">
					<div class="image">
						<img style="height:200;width:400" src="./web/m6.jpg" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Modèles de documents</h2>
						<ul>
							<li><a href=""><i class="fa fa-angle-right"></i><span>Modèles vos de documents</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
