{% extends "home/home.html.twig" %}
{% block title %}Services
{% endblock %}
{% block body %}

	<div class="container">
		<div class="slides">
			<div id="slide-2" class="slide courant mt-5 bt-5">
				<div class="petale item-0 impair">
					<div class="image">
						<img src="./web/m1.jpg" alt="">
					</div>
					<div class="info">
						<h2 class="titre">
							Création d’un  site web
						</h2>
						<ul>
							<li><a href=""><i class="fa fa-angle-right"></i><span>Créer votre site web</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-1 pair">
					<div class="image">
						<img style="height:200;width:200" src="./web/m2.jpg" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Une Assistance administratif illimitée</h2>
						<ul>
							<li><a href=""><i class="fa fa-angle-right"></i><span>Service  administratif et financier</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-2 impair">
					<div class="image">
						<img src="./web/wp-content/uploads/2015/09/organiser_200x200_acf_cropped.png" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Assistance à la  création
						</h2>
						<ul>
							<li><a href="{{path('create')}}"><i class="fa fa-angle-right"></i><span>Création de votre entreprise</span></a></li>
						</ul>
					</div>
				</div>
				<div class="petale item-3 pair">
					<div class="image">
						<img style="height:200;width:200" src="./web/m3.jpg" alt="">
					</div>
					<div class="info">
						<h2 class="titre">Service juridique</h2>
						<ul>
							<li><a href=""><i class="fa fa-angle-right"></i><span>Une Assistance juridique illimitée</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
