{% extends 'home/home.html.twig' %}

{% block title %}Mon Dossier
{% endblock %}
{%  block body %}
	<div class="container " style="position: relative;right:-180px;">

		<div  class=' mt-5'>
			<center><h1 class="h3 mb-3 font-weight-normal ">Mes documents</h1></center>
			<hr>
			{% for i in factures %}
				<a href="{{path('print',{'id': i.id })}}" target="_blank">Facture numéro {{i.factureNb}}</a>
			{% endfor %}
		</div>
	</div>


{% endblock %}
