{% extends "home/home.html.twig" %}
{% block title %}Contact
{% endblock %}


{% block body %}
	{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
	<center class="container mt-5 col-8" style="position: absolute">

		<div  class=' mt-3'>
			{% for message in app.flashes('succ') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
			<h1 class="h3 mb-5 font-weight-normal ">Contact</h1>
			<div class="col-10">
				{{form(form)}}
				</div>

			</div>
		</center>


	{% endblock %}
