{% extends 'home/home.html.twig' %}

{% block title %}Qui est l’Auto-entrepreneur?
{% endblock %}
{% block body %}
	<center class="container mt-2  col-10" style="position: relative;left:170px;top:-500px;text-align: left;font-size:14px;">
		<div class="container">
			<p id="E534" class="qowt-stl-NoSpacing">
				<center class="mb-5 mr-5" style="color:#0a2966;text-overflow: ellipsis; ">
					<h5>
						<strong id="E535">AVANT DE SE LANCER</strong>
					</h5>
				</center>
			</p>
			<span id="E538">1.Bien v&eacute;rifier que le statut d'auto-entrepreneur est fait pour vous</span>
		</p>

		<span id="E541">L&rsquo;auto-entreprise est une version simplifi&eacute;e de la cr&eacute;ation de soci&eacute;t&eacute;. Ici, vous avez moins de d&eacute;marches &agrave; effectuer et vous ne payez de charges QUE si vous r&eacute;alisez du chiffre d&rsquo;affaire. Mais, en contrepartie, il y a des limites de chiffre d&rsquo;affaire que vous ne pouvez pas d&eacute;passer. Si vous faites de la vente de marchandise, vous devez faire moins de 170.000 euros de CA par an, et si vous vendez des services, la limite sera de 70.000 euros. Pendant les premi&egrave;res ann&eacute;es, si vous d&eacute;passez l&eacute;g&egrave;rement ces montants, il y a moyen de s&rsquo;arranger, mais faites quand m&ecirc;me attention parce que devoir changer le statut de son entreprise
		</span>
		<span id="E543">c&rsquo;est</span>
		<span id="E545">
			pas une partie de plaisir. L&rsquo;auto-entreprise est donc adapt&eacute;e pour certains projets, et inadapt&eacute;e pour d&rsquo;autres. Pour bien comprendre le</span>
		<span id="E546">
			statut, vous pouvez consulter&nbsp;</span>
		<a id="E547" contenteditable="false" href="https://www.autoentrepreneur.urssaf.fr/portail/accueil/sinformer-sur-le-statut/lessentiel-du-statut.html" target="_blank">
			<span id="E548">cette page du site de l&rsquo;auto-entrepreneur</span>
		</a>
		<span id="E549">.</span>
	</p>
	<p id="E550" class="qowt-stl-NoSpacing">&nbsp;</p>
	<p id="E551" class="qowt-stl-NoSpacing">
		<span id="E552">2. V&eacute;rifier aussi que votre auto-entreprise soit compatible avec votre boulot si vous &ecirc;tes employ&eacute;s</span>
	</p>
	<p id="E553" class="qowt-stl-NoSpacing">
		<span id="E554">L&rsquo;auto-entrepreneuriat n&rsquo;est pas incompatible avec le salariat, mais il faut quand m&ecirc;me faire attention &agrave; ne pas devenir un concurrent de votre employeur. Il est interdit par la loi de se positionner sur le m&ecirc;me march&eacute;, c&rsquo;est de la concurrence d&eacute;loyale. En plus de &ccedil;a, il faut avoir l&rsquo;aval de son employeur si on est &agrave; temps complet, et au moins pr&eacute;venir son employeur de son activit&eacute; quand on est &agrave; temps partiel. Et bien s&ucirc;r, on ne bosse pas sur son auto-entreprise pendant ses heures de travail salari&eacute;, &ccedil;a va de soi.</span>
	</p>
	<p id="E555" class="qowt-stl-NoSpacing">
		<span id="E556">
			<strong style="color:#0a2966;">POUR CR&Eacute;ER SON STATUT</strong>
		</span>
	</p>
	<p id="E557" class="qowt-stl-NoSpacing">
		<span id="E558">3. Faire une d&eacute;claration de d&eacute;but d'activit&eacute; en ligne</span>
	</p>
	<p id="E559" class="qowt-stl-NoSpacing">
		<span id="E560">Pour la partie inscription, le conseil est plut&ocirc;t simple : il faut se
		</span>
		<span id="E561">cr&eacute;er un compte
		</span>
		<span id="E562">directement.
		</span>
		<span id="E563">Il suffit de suivre les instructions et de bien remplir les champs demand&eacute;s. Attention, &ccedil;a para&icirc;t con de le pr&eacute;ciser, mais vous devez d&eacute;j&agrave; savoir dans quel domaine se fera votre activit&eacute; pour vous inscrire. Donc d&eacute;cidez, avant de vous inscrire, si vous allez vendre des chaises en polystyr&egrave;ne ou des s&eacute;ances de yoga nu.</span>
	</p>
	<p id="E564" class="qowt-stl-NoSpacing">
		<span id="E565">4</span>
		<span id="E566">. Recevoir son num&eacute;ro de SIREN</span>
	</p>
	<p id="E567" class="qowt-stl-NoSpacing">
		<span id="E568">Sous quelques jours, l&rsquo;INSEE vous enverra votre num&eacute;ro de SIREN (Syst&egrave;me d&rsquo;Identification du R&eacute;pertoire des
	    entreprises.</span>
		<span id="E572"> C&rsquo;est un peu le code d&rsquo;identit&eacute; de votre entreprise. Celui dont vous aurez besoin pour toute la
		</span>
		<span id="E573">paperasse. Si vous voulez commencer &agrave; travailler sans, informez vos interlocuteurs que votre num&eacute;ro de SIREN est en attente d&rsquo;attribution.</span>
	</p>
		<strong style="color:#0a2966;"><span id="E577" class="qowt-font5-Bitter">CE &Agrave; QUOI IL FAUT PENSER &Agrave; C&Ocirc;T&Eacute;</span>
	</strong></p>
	<p id="E578" class="qowt-stl-NoSpacing">
		<span id="E579">5. Selon l'activit&eacute;, &eacute;ventuellement souscrire une assurance</span>
	</p>
	<p id="E580" class="qowt-stl-NoSpacing">
		<span id="E581">Si vous &ecirc;tes auto-entrepreneur (ou micro-entrepreneur, c&rsquo;est la m&ecirc;me chose maintenant), vous ne faites qu&rsquo;un avec votre entreprise. On dit que votre responsabilit&eacute; personnelle est engag&eacute;e. &Ccedil;a veut dire que si vous avez un litige, par exemple, et que vous devez de l&rsquo;argent, c&rsquo;est votre argent et vos biens &agrave; vous qui seront en jeu. Pas comme quand vous &ecirc;tes salari&eacute;. Une assurance vous &eacute;vitera de vous retrouver &agrave; la rue si vous vous lancez dans certaines activit&eacute;s avec de gros sous en jeu. Donc r&eacute;fl&eacute;chissez bien aux risques et faites le tour des&nbsp;</span>
		<a id="E582" contenteditable="false" href="https://www.awin1.com/cread.php?awinmid=13199&amp;awinaffid=291571&amp;clickref=&amp;p=https%3A%2F%2Fwww.assurlandpro.com%2Fassurance-auto-entrepreneur.html" target="_blank">
			<span id="E583">assureurs</span>
		</a>
		<span id="E584">&nbsp;pour voir ce qu&rsquo;ils proposent.</span>
	</p>
	<p id="E585" class="qowt-stl-NoSpacing">
		<span id="E586">6. Ouvrez un compte bancaire d&eacute;di&eacute; &agrave; votre activit&eacute;</span>
	</p>
	<p id="E587">
		<span id="E588">Si vous faites plus de 5000 euros de chiffre d&rsquo;affaire annuel, alors vous devez ouvrir un compte s&eacute;par&eacute; de votre compte personnel. De toute mani&egrave;re c&rsquo;est bien plus simple comme &ccedil;a. Demandez conseil &agrave; votre banquier pour le type de compte &agrave; ouvrir (un compte courant peut parfaitement faire l&rsquo;affaire) ou consultez&nbsp;</span>
		<a id="E589" contenteditable="false" href="https://www.topito.com/top-meilleures-banques-pro-entreprise-freelance-independants" target="_blank">
			<span id="E590">notre top des meilleures banques pro</span>
		</a>
		<span id="E591">.</span>
	</p>
	<p id="E592" class="qowt-stl-NoSpacing">
		<span id="E593">7. Faire ses factures</span>
	</p>
	<p id="E594" class="qowt-stl-NoSpacing">
		<span id="E595">Si vous avez votre entreprise, alors vous aurez des clients. Et les clients, quand ils sont professionnels, il faut leur faire des factures pour qu&rsquo;ils vous paient.
		</span>
		<span id="E596">Jusque-l&agrave;</span>
		<span id="E597">, c&rsquo;est quand m&ecirc;me super logique. Sauf que les factures, on sait pas toujours comment
		</span>
		<span id="E599">les faire</span>
		<span id="E601">. Il faut d&eacute;j&agrave; conna&icirc;tre les mentions qui doivent obligatoirement y figurer (vous pouvez les trouver&nbsp;</span>
		<a id="E602" contenteditable="false" href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F31808" target="_blank">
			<span id="E603">ici</span>
		</a>
		<span id="E604">). Et si vous voulez plus d&rsquo;aide, il existe des solutions qui vous aident &agrave; faire vos factures,
		</span>
	</p>
		<span id="E606">8. Tenir un livre des recettes</span>
	</p>
	<p id="E608" class="qowt-stl-NoSpacing">
		<span id="E609">Il faut obligatoirement mettre &agrave; jour ce document qui tient compte de toutes les recettes (bah oui, forc&eacute;ment), autrement dit tout ce qui a &eacute;t&eacute; encaiss&eacute; par l&rsquo;entreprise. Sur un tableau
		</span>
		<span id="E611">excel</span>
		<span id="E613">, ou m&ecirc;me dans un livre papier, vous devez indiquer les &eacute;l&eacute;ments suivants : la date de l&rsquo;encaissement, le num&eacute;ro de la facture, le nom du client, la nature de la vente, son montant, et le mode de r&egrave;glement (CB, ch&egrave;que, esp&egrave;ce&hellip;) Vous pouvez aussi trouver des logiciels de compatibilit&eacute; qui vous aideront &agrave; faire tout &ccedil;a.</span>
	</p>
	<p id="E614" class="qowt-stl-NoSpacing">
		<span id="E615">9. Tenir un registre des achats</span>
	</p>
	<p id="E616" class="qowt-stl-NoSpacing">
		<span id="E617">Exactement comme pour l&rsquo;argent qui rentre, il faut tenir un registre pour l&rsquo;argent qui sort. On y fait figurer la date de l&rsquo;achat, le num&eacute;ro de la facture, le nom du fournisseur, la nature de la vente, son montant, et le mode de r&egrave;glement (CB, ch&egrave;que, esp&egrave;ce). C&rsquo;est pas bien compliqu&eacute;, mais il faut juste le faire rigoureusement. Et on n&rsquo;oublie pas de bien conserver ses factures pour tout justifier le jour o&ugrave; on vous le demandera.</span>
	</p>
	<p id="E618" class="qowt-stl-NoSpacing">
		<span id="E619">10. D&eacute;clarer son chiffre d'affaire</span>
	</p>
	<p id="E620" class="qowt-stl-NoSpacing">
		<span id="E621">Vous devez d&eacute;clarer votre chiffre d&rsquo;affaire pour payer vos cotisations. Si vous oubliez de le faire, vous devez payer une p&eacute;nalit&eacute; M&ecirc;me si vous avez fait une ann&eacute;e vide sans aucune recette. Donc on d&eacute;clare toujours. &Ccedil;a se fait sur&nbsp;</span>
		<span id="E622"></span>
		<span id="E623">o&ugrave; vous avez de toute fa&ccedil;on d&eacute;j&agrave; cr&eacute;&eacute; un compte. Il y a m&ecirc;me</span>
		<span id="E624">
			une appli faite expr&egrave;s pour &ccedil;a
		</span>
		<span id="E625">sur&nbsp;</span>
		<span id="E626"></span>
		<a id="E627" contenteditable="false" href="https://play.google.com/store/apps/details?id=fr.acoss.amme&amp;hl=fr" target="_blank">
			<span id="E629">Android</span>
		</a>
		<span id="E631">&nbsp;et&nbsp;</span>
		<span id="E633"></span>
		<span id="E635"></span>
		<span id="E637"></span>
		<span id="E639">iOS</span>
		<span id="E641"></span>
		<span id="E643">.</span>
	</p>
	<p id="E644" class="qowt-stl-NoSpacing">
		<span id="E645">11. Attention aux arnaques</span>
	</p>
	<p id="E646" class="qowt-stl-NoSpacing">
		<span id="E647">D&egrave;s que vous montez votre entreprise, des petits malins r&eacute;cup&egrave;rent vos coordonn&eacute;es pour vous mettre sur des mailing
		</span>
		<span id="E648">listes</span>
		<span id="E649">
			frauduleuses. Ce qui va se passer, c&rsquo;est que vous recevrez des mails ou des courriers vous demandant de r&eacute;gler certaines sommes alors que vous ne devez rien du tout. Si vous avez des doutes, appelez toujours des institutions officielles, comme l&rsquo;Urssaf, qui sauront vous conseiller.</span>
	</p>
	<p id="E650" class="qowt-stl-NoSpacing">
		<strong style="color:#0a2966;"><span id="E651">BONUS</span></strong>
	</p>
	<p id="E652" class="qowt-stl-NoSpacing">
		<span id="E653">1</span>
		<span id="E654">2</span>
		<span id="E655">. Ne pas h&eacute;siter &agrave; demander de l'aide</span>
	</p>
	<p id="E656" class="qowt-stl-NoSpacing">
		<span id="E657">Il y a forc&eacute;ment, dans votre entourage, quelqu&rsquo;un qui touche sa bille en compta. Contre une bo&icirc;te de chocolat ou une bonne bouteille, il sera bien content de vous donner des bons conseils pour d&eacute;marrer. Parce que si pour vous tout &ccedil;a semble compliqu&eacute;, pour lui c&rsquo;est peut-&ecirc;tre tr&egrave;s simple.</span>
	</p>
	<p id="E658" class="qowt-stl-NoSpacing">
		<span id="E659">Sinon vous pouvez vous tourner vers des groupes Facebook comme&nbsp;</span>
		<a id="E660" contenteditable="false" href="https://www.facebook.com/groups/633636863472853/?ref=br_rs" target="_blank">
			<span id="E661">Entraide Auto/Micro-entrepreneurs</span>
		</a>
		<span id="E662">&nbsp;qui compte pas mal de membres pr&ecirc;ts &agrave; donner de bons conseils.</span>
	</p>
	<div></center>
{% endblock %}
