{% extends 'home/home.html.twig' %}

{% block title %}Cotisations
{% endblock %}
{% block body %}
	<center class="container mt-2  col-10" style="position: relative;left:180px;top:-500px;text-align: left;font-size:14px;">
		<div class="container"><div style="-webkit-box-flex: 1; padding-left: 70pt; padding-right: 42pt;">
    <p is="qowt-word-para" style="display: block; list-style-type: none; padding: 0px 0px 10pt; margin: 0px; line-height: 1.38; font-size: 11pt; font-family: Calibri, Carlito, sans-serif; text-align: center;"><br></p>
</div>
<div style="-webkit-box-flex: 1; padding-left: 70pt; padding-right: 42pt;">
    <p class="qowt-stl-NoSpacing" is="qowt-word-para" style="display: block; list-style-type: none; padding: 0px 0px 0pt; margin: 0px; line-height: 1.2; font-size: 11pt; font-family: Calibri, Carlito, sans-serif;"><br></p>
    <p class="qowt-stl-NoSpacing mb-5" is="qowt-word-para" style="display: block; list-style-type: none; padding: 0px 0px 0pt; margin: 0px; line-height: 1.2; font-size: 11pt; font-family: Calibri, Carlito, sans-serif; text-align: center;"><span is="qowt-word-run" style="display: inline; white-space: pre-wrap; font-weight: bold; font-size: 24pt; color: rgb(0, 176, 80);"><strong style="color:#0a2966;">Cotisations</strong></span></p>
    <p class="qowt-stl-NoSpacing" is="qowt-word-para" style="display: block; list-style-type: none; padding: 0px 0px 0pt; margin: 0px; line-height: 1.2; font-size: 11pt; font-family: Calibri, Carlito, sans-serif;"><span is="qowt-word-run" style="display: inline; white-space: pre-wrap; font-weight: bold; color: rgb(255, 0, 0);">LE R&Eacute;GIME FISCAL ET SOCIAL DE &nbsp;L&rsquo;AUTOENTREPRENEUR</span><span is="qowt-word-run" style="display: inline; white-space: pre-wrap; font-weight: bold; font-size: 20pt; color: rgb(255, 0, 0);">&nbsp;(ART 9)</span><span class="qowt-font8-TrebuchetMS" is="qowt-word-run" style='display: inline; white-space: pre-wrap; font-family: "Trebuchet MS", sans-serif !important; font-size: 20pt; color: rgb(255, 255, 255);'>du</span></p>
    <p class="qowt-stl-NoSpacing" is="qowt-word-para" style="display: block; list-style-type: none; padding: 0px 0px 0pt; margin: 0px; line-height: 1.2; font-size: 11pt; font-family: Calibri, Carlito, sans-serif;"><br></p>
    <p class="qowt-stl-NoSpacing" is="qowt-word-para" style="display: block; list-style-type: none; padding: 0px 0px 0pt; margin: 0px; line-height: 1.2; font-size: 11pt; font-family: Calibri, Carlito, sans-serif;"><span is="qowt-word-run" style="display: inline; white-space: pre-wrap; font-size: 12pt;">L&rsquo;auto-entrepreneur b&eacute;n&eacute;ficie d&rsquo;un r&eacute;gime fiscal et social sp&eacute;cifique qui consiste &agrave; payer une contribution unique lib&eacute;r&eacute;e de l&rsquo;imp&ocirc;t sur le revenu des personnes physiques, de la taxe sur la valeur ajout&eacute;e et de la cotisation au r&eacute;gime de s&eacute;curit&eacute; sociale.</span></p>
    <p class="qowt-stl-NoSpacing" is="qowt-word-para" style="display: block; list-style-type: none; padding: 0px 0px 0pt; margin: 0px; line-height: 1.2; font-size: 11pt; font-family: Calibri, Carlito, sans-serif;"><span is="qowt-word-run" style="display: inline; white-space: pre-wrap; font-size: 12pt;"><br></span></p>
    <p class="qowt-stl-NoSpacing" is="qowt-word-para" style="display: block; list-style-type: none; padding: 0px 0px 0pt; margin: 0px; line-height: 1.2; font-size: 11pt; font-family: Calibri, Carlito, sans-serif;"><span is="qowt-word-run" style="display: inline; white-space: pre-wrap; font-size: 12pt;">La valeur de la contribution unique est fix&eacute;e comme suit :</span></p>
    <p class="qowt-stl-NoSpacing" is="qowt-word-para" style="display: block; list-style-type: none; padding: 0px 0px 0pt; margin: 0px; line-height: 1.2; font-size: 11pt; font-family: Calibri, Carlito, sans-serif;"><span is="qowt-word-run" style="display: inline; white-space: pre-wrap; font-size: 12pt;"><br></span></p>
    <p class="qowt-stl-NoSpacing" is="qowt-word-para" style="display: block; list-style-type: none; padding: 0px 0px 0pt; margin: 0px; line-height: 1.2; font-size: 11pt; font-family: Calibri, Carlito, sans-serif;"><span is="qowt-word-run" style="display: inline; white-space: pre-wrap; font-size: 12pt;">0,5% du chiffre d&rsquo;affaires annuel, au titre de l&rsquo;imp&ocirc;t sur le revenu.</span></p>
    <p class="qowt-stl-NoSpacing" is="qowt-word-para" style="display: block; list-style-type: none; padding: 0px 0px 0pt; margin: 0px; line-height: 1.2; font-size: 11pt; font-family: Calibri, Carlito, sans-serif;"><span is="qowt-word-run" style="display: inline; white-space: pre-wrap; font-size: 12pt;">7.5 % calcul&eacute;s sur la base des deux tiers du salaire minimum agricole garanti ou du salaire minimum industriel garanti selon la nature de l&rsquo;activit&eacute;.</span></p>
    <p class="qowt-stl-NoSpacing" is="qowt-word-para" style="display: block; list-style-type: none; padding: 0px 0px 0pt; margin: 0px; line-height: 1.2; font-size: 11pt; font-family: Calibri, Carlito, sans-serif;"><br></p>
    <p class="qowt-stl-NormalWeb" is="qowt-word-para" style='display: block; list-style-type: none; padding: 0pt 0px; margin: 0px; line-height: 1.38; font-size: 12pt; font-family: "Times New Roman", Tinos, "Baskerville Old Face", "Bell MT", serif; text-align: center;'><br></p>
</div>
<div style="-webkit-box-flex: 1; padding-left: 70pt; padding-right: 42pt;"><br></div>
<p><br></p></div>
	</center>
{% endblock %}
