{% extends 'home/home.html.twig' %}

{% block title %}Ma fiscalité
{% endblock %}
{% block body %}
<center class="container mt-2  col-10" style="position: relative;left:180px;top:-500px;text-align: left;font-size:14px;">
	<div class="container">
		<p class="qowt-stl-NoSpacing" style="display: block; list-style-type: none; padding: 0px 0px 0pt; margin: 0px; line-height: 1.2; font-size: 11pt; font-family: Calibri, Carlito, sans-serif; color: rgb(0, 0, 0); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
			<span style="display: inline; white-space: pre-wrap; font-weight: bold; font-size: 16pt; color: rgb(255, 0, 0);"><strong style="color:#0a2966;"><h5>&nbsp;Ma fiscalit&eacute;&nbsp;</h5></strong></span>
		</p>
		<p class="qowt-stl-NoSpacing" style="display: block; list-style-type: none; padding: 0px 0px 0pt; margin: 0px; line-height: 1.2; font-size: 11pt; font-family: Calibri, Carlito, sans-serif; color: rgb(0, 0, 0); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
			<span style="display: inline; white-space: pre-wrap;">L&rsquo;</span>
			<span style="display: inline; white-space: pre-wrap;">auto entrepreneur</span>
			<span style="display: inline; white-space: pre-wrap;">&nbsp;b&eacute;n&eacute;ficie d&rsquo;un r&eacute;gime fiscal &amp; social sp&eacute;cifique qui consiste en le paiement d&rsquo;une contribution unique, lib&eacute;ratoire de l&rsquo;imp&ocirc;t sur le revenu, de la TVA et de la contribution au profit de la CNSS.&nbsp;</span>
			<span style="display: inline; white-space: pre-wrap;">&uuml;</span>
			<span style="display: inline; white-space: pre-wrap;">&nbsp;La contribution unique n&rsquo;est pas due par l&rsquo;</span>
			<span style="display: inline; white-space: pre-wrap;">auto entrepreneur</span>
			<span style="display: inline; white-space: pre-wrap;">&nbsp;au titre de la premi&egrave;re ann&eacute;e d&rsquo;activit&eacute;; &uuml; Le montant de la contribution unique est fix&eacute; comme suit: &sect; 0,5 ℅ du chiffre d&rsquo;affaires annuel au titre de l&rsquo;imp&ocirc;t sur le revenu; &sect; 7,5 ℅ calcul&eacute;s sur la base de deux tiers du SMAG ou du SMIG selon le secteur d&rsquo;activit&eacute;</span>
		</p>
	</div>
	<center>
{% endblock %}