{% extends 'home/home.html.twig' %}

{% block title %}Qui est l’Auto-entrepreneur?
{% endblock %}
{% block body %}
	<center class="container mt-2  col-10" style="position: relative;left:180px;top:-500px;text-align: left;font-size:14px;">
		<div class="container">
			<center class="mb-5 mr-5" style="color:#0a2966;white-space: nowrap; overflow:hidden;text-overflow: ellipsis; ">
				<h5>
					<strong>Qui est l&rsquo;Auto-entrepreneur&nbsp;?&nbsp;D&eacute;couvrir le statut d'auto entrepreneur</strong>
				</h5>
			</center>
			<p class="mb-3">Est-consid&eacute;r&eacute; auto-entrepreneur au sens de la pr&eacute;sente loi toute personne physique r&eacute;sidente en Tunisie exer&ccedil;ant seule, une activit&eacute; industrielle, commerciale, artisanale, ou de prestation de services, dont le chiffre d'affaires encaiss&eacute; n&rsquo;exc&egrave;de pas : - 100.000 dinars par an pour les activit&eacute;s industrielles, commerciales et artisanales, - 50.000 dinars par an pour les prestations de services. La liste des m&eacute;tiers concern&eacute;s est fix&eacute;e et mise &agrave; jour annuellement par d&eacute;cret. Les plafonds sont r&eacute;&eacute;valu&eacute;s chaque ann&eacute;e.</p>
			<strong style="color:#0a2966;">AVANTAGES ACCORDES AU STATUT DE L&rsquo;AUTO-ENTREPRENEUR</strong>
			<p class="mt-3">Tout individu qui opte pour le statut d&rsquo;auto-entrepreneur b&eacute;n&eacute;ficie de : - La dispense de l'obligation de tenue d&rsquo;une comptabilit&eacute; selon la loi en vigueur. La tenue d&rsquo;une comptabilit&eacute; est simplifi&eacute;e. Elle se limite &agrave; un livre des recettes et un registre des achats. - La dispense de l'obligation d'inscription au registre du commerce et de la publicit&eacute; au Journal Officiel de la R&eacute;publique Tunisienne. - Un r&eacute;gime fiscal particulier conforme aux dispositions du Code de l'Imp&ocirc;t sur le Revenu des Personnes Physiques et de l'Imp&ocirc;t sur les Soci&eacute;t&eacute;s. Ce r&eacute;gime ne sou-met pas l&rsquo;auto-entrepreneur &agrave; la TVA, &agrave; l&rsquo;imp&ocirc;t sur les soci&eacute;t&eacute;s et &agrave; la taxe fonci&egrave;re sur biens d&eacute;tenus par les entreprises et ce, pendant trois an &agrave; compter de la cr&eacute;ation de son activit&eacute;.</p>
			<p>Un r&eacute;gime de couverture sociale particulier. L&rsquo;auto-entrepreneur s&rsquo;affilie &agrave; la Caisse Nationale de S&eacute;curit&eacute; Sociale et valide des trimestres de retraite en s&rsquo;acquittant proportionnellement de ses cotisations sociales uniquement en cas d&rsquo;encaissements. Les conditions et les modalit&eacute;s d&rsquo;application sont fix&eacute;es par un d&eacute;cret sp&eacute;cifique. L&rsquo;auto-entrepreneur b&eacute;n&eacute;ficie des avantages accord&eacute;s au statut de l&rsquo;auto-entrepreneur d&egrave;s son inscription au registre Tunisien des auto-entrepreneurs.</p>
			<strong style="color:#0a2966;">DOMICILIATION</strong>
			<p class="mt-3">L&rsquo;auto-entrepreneur peut exercer son activit&eacute; &agrave; sa r&eacute;sidence principale, dans un local professionnel, dans une soci&eacute;t&eacute; de domiciliation ou dans un local partag&eacute; par plusieurs entreprises &agrave; condition de respecter les lois et la r&egrave;glementation en vigueur. La r&eacute;sidence principale de l&rsquo;auto entrepreneur est insaisissable de droit par les cr&eacute;anciers financiers pour couvrir les dettes dues &agrave; ladite activit&eacute;.</p>
			<p id="E231">
				<strong style="color:#0a2966;">
					<span id="E232">OBLIGATIONS LIEES AU STATUT DE L&rsquo;AUTO-ENTREPRENEUR
					</strong>
				</span>
			</p>
			<p id="E233">
				<span id="E234">Afin de b&eacute;n&eacute;ficier de ce r&eacute;gime, l&rsquo;auto-entrepreneur est tenu de :
				</span>
			</p>
			<p id="E235">
				<span id="E236">- Faire une demande d&rsquo;inscription au &laquo; registre Tunisien de l&rsquo;auto entrepreneur &raquo;, l'organisme gestionnaire pr&eacute;cit&eacute; dans l&rsquo;article 4, selon les modalit&eacute;s fix&eacute;es par un d&eacute;cret sp&eacute;cifique.
				</span>
			</p>
			<p id="E237">
				<span id="E238">L&rsquo;auto entrepreneur peut aussi se d&eacute;clarer aupr&egrave;s de l&rsquo;organisme gestionnaire ou par internet sur un site web d&eacute;di&eacute;
				</span>
				<a id="E239" contenteditable="false" href="http://www.lautoentrepreneurtunisien.tn/" target="_blank">
					<span id="E240" class="qowt-stl-Hyperlink">www.lautoentrepreneurtunisien.tn</span>
				</a>
				<span id="E241"></span>
			</p>
			<p id="E242">
				<span id="E243">
					- Remplir les conditions pour b&eacute;n&eacute;ficier du r&eacute;gime fiscal et social de l&rsquo;auto-entrepreneur telles que fix&eacute;es &agrave; l&rsquo;Article 1 ci-dessus et compl&eacute;t&eacute;es par d&eacute;cret sp&eacute;cifique. - D&eacute;clarer trimestriellement le chiffre d&rsquo;affaires encaiss&eacute; aupr&egrave;s de l&rsquo;organisme gestionnaire ou par voie &eacute;lectronique d&eacute;di&eacute;e tout en versant les sommes dues au titre de l&rsquo;imp&ocirc;t et des cotisations sociales mentionn&eacute;es &agrave; l&rsquo;Article 2 ci-dessus.</span>
			</p>
			<p id="E244">
				<span id="E245">L'auto-entrepreneur est tenu de remplir les conditions l&eacute;gales n&eacute;cessaires pour l'exercice de ses activit&eacute;s selon les lois et la r&egrave;glementation en vigueur. L&rsquo;auto-entrepreneur est soumis dans l&rsquo;exercice de ses activit&eacute;s &agrave; toutes les lois et r&egrave;glementations en vigueur.</span>
			</p>
			<p id="E246" class="qowt-li-1_0 qowt-list qowt-stl-ListParagraph">
				<span id="E247">&Ecirc;tre titulaire de la carte d&rsquo;inscription au registre national de l&rsquo;auto entrepreneur.</span>
			</p>
			<p id="E248" class="qowt-li-1_0 qowt-list qowt-stl-ListParagraph">
				<span id="E249">Remplir les conditions d&rsquo;exercice de l&rsquo;activit&eacute; pr&eacute;vues par la l&eacute;gislation en vigueur applicables &agrave; l&rsquo;activit&eacute; exerc&eacute;e.</span>
			</p>
			<p id="E250" class="qowt-li-1_0 qowt-list qowt-stl-ListParagraph">
				<span id="E251">Respecter les r&egrave;gles de concurrence, de protection du consommateur, de la sant&eacute;, de la s&eacute;curit&eacute; et les droits &amp; obligations fiscales &amp; sociales pr&eacute;vus par la l&eacute;gislation en vigueur.</span>
			</p>
			<p id="E252" class="qowt-li-1_0 qowt-list qowt-stl-ListParagraph">
				<span id="E253">Fournir les donn&eacute;es pr&eacute;cises, compl&egrave;tes et actualis&eacute;es relative &agrave; sa situation et &agrave; l&rsquo;exercice de son activit&eacute;.</span>
			</p>
			<p id="E254" class="qowt-li-1_0 qowt-list qowt-stl-ListParagraph">
				<span id="E255">D&eacute;claration du chiffre d&rsquo;affaires r&eacute;alis&eacute; au cours de chaque trimestre dans les 15 jours qui suivent chaque trimestre.</span>
			</p>
			<p id="E256" class="qowt-li-1_0 qowt-list qowt-stl-ListParagraph">
				<span id="E257">Tenir un registre cot&eacute; et paraph&eacute; par le service fiscal comp&eacute;tent, sur lequel sont enregistr&eacute;s quotidiennement les d&eacute;penses et les recettes.</span>
			</p>
			<p id="E258">
				<strong style="color:#0a2966;">
					<span id="E259">RADIATION</span>
				</strong>
			</p>
			<p id="E260">
				<span id="E261">
					L'auto-entrepreneur est radi&eacute; du &laquo; registre Tunisien de l&rsquo;auto entrepreneur &raquo; pr&eacute;vu &agrave; l&rsquo;Article 4 lorsque : - Il fait la demande expresse aupr&egrave;s de l&rsquo;organisme gestionnaire ou par internet sur un site web d&eacute;di&eacute; (</span>
				<span id="E262">&hellip;&hellip;&hellip;&hellip;..</span>
				<span id="E263">). - Il ne proc&egrave;de pas &agrave; la d&eacute;claration de son chiffre d&rsquo;affaires ou lorsqu&rsquo;il d&eacute;clare un chiffre d&rsquo;affaires nul pendant quatre trimestres cons&eacute;cutifs ne comptant pas le trimestre de son inscription ou de sa r&eacute;inscription. - Il ne proc&egrave;de pas au versement de l&rsquo;imp&ocirc;t ou des cotisations sociales mentionn&eacute;s dans l&rsquo;Article 2 ci-dessus pendant 4 trimestres cons&eacute;cutifs. - Il r&eacute;alise un chiffre d&rsquo;affaires annuel qui d&eacute;passe les seuils fix&eacute;s par l&rsquo;Article 1 ci-dessus et ce, pendant deux ann&eacute;es civiles cons&eacute;cutives. -Il transforme son activit&eacute; en soci&eacute;t&eacute; et ce, ind&eacute;pendamment de sa forme juridique. - Il fait l&rsquo;objet d&rsquo;une d&eacute;cision judiciaire de radiation du &laquo; registre Tunisien de l&rsquo;auto entrepreneur &raquo;.</span>
			</p>
			<p id="E264">
				<span id="E265">L&rsquo;auto-entrepreneur radi&eacute; ne peut plus b&eacute;n&eacute;ficier du r&eacute;gime fiscal sp&eacute;cifique ou de la couverture sociale. Il reste cependant redevable des sommes non vers&eacute;es avant sa radiation</span>
			</p>
			<p id="E266">
				<strong style="color:#0a2966;">
					<span id="E267">REINSCRIPTION</span>
				</strong>
			</p>
			<p id="E268">
				<span id="E269">
					L&rsquo;auto-entrepreneur peut se r&eacute;inscrire dans le &laquo; registre Tunisien de l&rsquo;auto-entrepreneur &raquo;lorsqu&rsquo;il s&rsquo;acquitte des sommes dues au titre de l'imp&ocirc;t et des cotisations sociales mentionn&eacute;s dans l'article 5 ci-dessus.</span>
				<span id="E270"></span>
				<span id="E271">&laquo; La Poste Tunisienne &raquo; est charg&eacute;e par l&rsquo;&Eacute;tat pour &ecirc;tre l&rsquo;organisme gestionnaire du &laquo;registre Tunisien de l&rsquo;auto entrepreneur &raquo; mentionn&eacute; dans l&rsquo;Article 4 ci-dessus. Elle doit mettre en place dans tout le territoire de la r&eacute;publique des guichets d&eacute;di&eacute;s pour accueillir, orienter et accompagner les autos entrepreneurs.</span>
			</p>
			<p id="E272">
				<span id="E273">L&rsquo;organisme gestionnaire, &laquo; La Poste Tunisienne &raquo;, est tenu par la pr&eacute;sente loi de g&eacute;rer plusieurs op&eacute;rations pour le compte de l&rsquo;&Eacute;tat, notamment : - Recevoir les demandes d&rsquo;inscription, de r&eacute;inscription et de radiation du &laquo; registre Tunisien de l&rsquo;auto-entrepreneur &raquo; et en informer &agrave; chaque fois les administrations et organismes concern&eacute;s. - Recevoir les d&eacute;clarations de chiffres d&rsquo;affaires encaiss&eacute;s par l&rsquo;auto-entrepreneur; - Encaisser les montants de l'imp&ocirc;t et des cotisations sociales dus par l'auto-entrepreneur et les verser aux administrations et organismes concern&eacute;s et ce, conform&eacute;ment aux lois et &agrave; la l&eacute;gislation en vigueur.</span>
			</p>
			<p id="E275">
				<span id="E276">L&rsquo;organisme gestionnaire, &laquo; La Poste Tunisienne &raquo; met en place pour les auto-entrepreneurs, administrations et organismes concern&eacute;s un site web d&eacute;di&eacute; permettant de : - Suivre les inscriptions, r&eacute;inscriptions et radiations du &laquo; registre Tunisien de l&rsquo;auto entrepreneur &raquo;. - Suivre les d&eacute;clarations des chiffres d&rsquo;affaires encaiss&eacute;s par l&rsquo;auto-entrepreneur. - Partager des informations et donn&eacute;es li&eacute;es &agrave; l&rsquo;auto entrepreneur avec l&rsquo;administration et organismes concern&eacute;s et ce, dans le respect des lois et de la r&eacute;glementation en vigueur. - Tenir inform&eacute;s les autos entrepreneurs de leurs droits, obligations ainsi que des opportunit&eacute;s qui leur sont offertes.</span>
			</p>
			<strong style="color:#0a2966;">
				PRINCIPALES CARACTERISTIQUES DU STATUT DE L’AUTO-ENTREPRENEUR</strong>
			<style>
				table,
				th,
				td {
					border: 1px solid black;
					text-align: center;
				}
			</style>
			<table class="mt-5" style="  border: 1px solid black;width:900px">
				<tr>
					<th>Aspect</th>
					<th>Descriptif</th>
				</tr>
				<tr>
					<td>Fiscalité</td>
					<td style="text-align:left;">Assiette IS (Impôt sur les bénéfices) = Chiffre d’affaires – abattement forfaitaire Prélèvement libératoire de l’IS (libératoire car il n’est pas intégré à l’impôt sur le revenu mais que l’entrepreneur doit déclarer et acquitter) Un entrepreneur qui n’encaisse rien, ne paie et ne déclare rien. Le système de versement libératoire lui permet de calculer son prix de revient sans difficultés.</td>
				</tr>
				<tr>
					<td>TVA</td>
					<td style="text-align:left;">Non soumis à la TVA<br>Pas de récupération de TVA<br>Facturation des prestations HT</td>
				</tr>
				<tr>
					<td>Autres taxes</td>
					<td style="text-align:left;">Exonération de la TFP, du FOPROLOS et autres taxes pendant 3 années à compter de la création de son activité.</td>
				</tr>
				<tr>
					<td>Cotisations sociales</td>
					<td style="text-align:left;">Taux fixe du chiffre d’affaires Pas d’encaissements (chiffre d’affaires), pas de cotisations.</td>
				</tr>
				<tr>
					<td>Taxes municipales (locales)</td>
					<td style="text-align:left;">Exonération</td>
				</tr>
				<tr>
					<td>Immatriculation au registre du commerce</td>
					<td style="text-align:left;">Dispense d’immatriculation au registre de commerce.<br>Adhésion par voie électronique ou en remplissant un formulaire à un des offices de la Poste Tunisienne, organisme gestionnaire, auprès de l’État.</td>
				</tr>
				<tr>
					<td>Publication au JORT</td>
					<td style="text-align:left;">Dispense d’immatriculation au Journal Officiel de la République Tunisienne.
					</td>
				</tr>
				<tr>
					<td>Personnes</td>
					<td style="text-align:left;">Seules les personnes physiques exerçant à titre individuel peuvent bénéficier de ce régime, les personnes morales ne le peuvent pas.</td>
				</tr>
				<tr>
					<td>Plafonds</td>
					<td style="text-align:left;">Les plafonds sont réévalués chaque année par le Conseil national de l’auto - entrepreneur en concertations avec les ministères et organismes concernés</td>
				</tr>
				<tr>
					<td>Règlementations</td>
					<td style="text-align:left;">L’auto-entrepreneur doit respecter les dispositions légales, réglementaires, et les normes techniques professionnelles (droit du travail, hygiène, sécurité, protection du consommateur).</td>
				</tr>
				<tr>
					<td>Nature des activités</td>
					<td style="text-align:left;">La liste des activités exclues du régime d’auto -entrepreneur est à définir par décret.</td>
				</tr>
				<tr>
					<td>Comptabilité</td>
					<td style="text-align:left;">Comptabilité allégée. Tenue d’un livre détaillant chronologiquement les montants et les sources des encaissements (ventes) et décaissements (achats) à titre professionnel. L’auto-entrepreneur doit séparer les règlements par chèque de ceux en espèce (ou autres). Les pièces justificatives doivent être gardées et référencées (factures, reçus, notes, etc.). Ce livre doit être mis à jour quotidiennement. ll faut conserver toutes les factures ou pièces justificatives des achats et des ventes de marchandises ou de services.</td>
				</tr>
			</table>
			<p id="E272" class="mt-5">** Le cumul du statut d'auto-entrepreneur avec celui de salari&eacute; pourrait &ecirc;tre un des grands avantages du dispositif. Il doit cependant ob&eacute;ir &agrave; certaines r&egrave;gles dont la clause de non concurrence &agrave; l'employeur principal (m&ecirc;me march&eacute;, m&ecirc;mes prospects, etc.). L'auto -entrepreneur doit demander une autorisation &eacute;crite de son employeur. Afin d&rsquo;encourager l&rsquo;entreprenariat, la clause d'exclusivit&eacute; devrait &ecirc;tre non opposable &agrave; l'auto - entrepreneur pendant une p&eacute;riode donn&eacute;e (un an, par exemple), le temps de donner &agrave; l'auto - entrepreneur la possibilit&eacute; de mettre en place son activit&eacute;. Ce cumul est possible en France. Une loi cr&eacute;ant le statut d&rsquo;auto entrepreneur aurait pour objectif de concourir &agrave; la cr&eacute;ation d&rsquo;entreprises en Tunisie. Une des mesures les plus significatives qui pourraient &ecirc;tre adopt&eacute;es afin de donner envie aux entrepreneurs de cr&eacute;er leurs entreprises est de leur offrir le statut d&rsquo;auto-entrepreneur qui donne divers avantages en termes de cr&eacute;ation, de gestion et de cessation d&rsquo;une activit&eacute;. En d&rsquo;autres termes, offrir un statut simple pour celles et ceux qui souhaitent entreprendre. Tout tunisien, sans exceptions, peut devenir auto-entrepreneur. Ils peuvent l&rsquo;&ecirc;tre &agrave; titre principal comme le cas des &eacute;tudiants ou les ch&ocirc;meurs qui cr&eacute;ent une activit&eacute; ou &agrave; titre compl&eacute;mentaire pour les salari&eacute;s les fonctionnaires et les retrait&eacute;s du secteur priv&eacute;, un fonctionnaire L&rsquo;auto-entrepreneur d&eacute;clare son chiffre d&rsquo;affaires tous les trimestres. Il proc&egrave;de &agrave; un versement forfaitaire et lib&eacute;ratoire qui lui permet de connaitre exactement ce qu&rsquo;il doit payer &agrave; la fin du trimestre. L&rsquo;absence d&rsquo;encaissement durant la p&eacute;riode est synonyme d&rsquo;absence de d&eacute;claration et de payement. Toutes les charges sociales de l&rsquo;auto-entrepreneur sont &agrave; payer d&rsquo;un seul r&egrave;glement. La t&eacute;l&eacute; d&eacute;claration sur un site web d&eacute;di&eacute; pourrait &ecirc;tre envisag&eacute;e. Ce r&eacute;gime ne pr&eacute;sente aucune complexit&eacute; puisque les montants &agrave; verser sont calcul&eacute;s seulement en proportion des encaissements. Ce r&eacute;gime est lisible et permet une meilleure visibilit&eacute; car les paiements sont vers&eacute;s pour solde de tout compte sans possibilit&eacute; de r&eacute;gularisation ult&eacute;rieure. Il pr&eacute;sente de ce fait un avantage certain pour la tr&eacute;sorerie de l&rsquo;entrepreneur car il ne r&eacute;clame pas d&rsquo;avances. Ce r&eacute;gime aide l&rsquo;auto-entrepreneur &agrave; connaitre ses charges avec pr&eacute;cision, ce qui lui permet d&rsquo;ajuster sans difficult&eacute;s son prix de vente au prix de revient. Le versement unique lib&eacute;ratoire de l&rsquo;ensemble des charges sociales et fiscales r&eacute;duit les risques de &laquo; mauvaises surprises &raquo;. Ce versement est unique est l&rsquo;absence de TVA et taxes professionnelles</p>
            <table class="mt-5" style="  border: 1px solid black;width:900px">
				<tr>
					<th>Situation</th>
					<th>Descriptif</th>
				</tr>
				<tr>
					<td>1</td>
					<td style="text-align:left;">Nécessité de recruter des employés. </td>
				</tr>
				<tr>
					<td>2</td>
					<td style="text-align:left;"> Une croissance rapide de l’activité.</td>
				</tr>
				<tr>
					<td>3</td>
					<td style="text-align:left;"> Nécessité d’achat de stocks, matériels, machines, etc.</td>
				</tr>
				<tr>
					<td>4</td>
					<td style="text-align:left;">Dépenses importantes : assurances particulières, transport, etc.</td>
				</tr>
				<tr>
					<td>5</td>
					<td style="text-align:left;">Activité qui génère beaucoup de charges d’exploitation </td>
				</tr>
				<tr>
					<td>6</td>
					<td style="text-align:left;"> Nécessité d’avoir des associés</td>
				</tr>
				<tr>
					<td>7</td>
					<td style="text-align:left;"> Probabilité importante de dépasser le plafond d’application du régime</td>
				</tr>
				<tr>
					<td>8</td>
					<td style="text-align:left;"> 8 Volonté de protéger son patrimoine personnel</td>
				</tr>
				
				
				
			</table>
        </div>
	</center>
{% endblock %}
